  <div class = "container-fluid mt-5 about-style" id="aboutid">
    <div class =  " row">
      <div class = " col-md-10 col-12 mx-auto">
        <h1 class = "text-centre main-heading">About Us</h1>
        <p class = "text-centre main sub-heading">Grow Your Business With Us</p>
        <div class = "row">
          <div class=" col-md-6 col-12 hero-text ">
             <figure>
               <img src="images/about.svg" alt="image" height="500" width="500" align ="right" >
             </figure>
        </div>
          
           {{!-- right side --}}
            <div class=" col-md-6 col-12 hero-text  d-flex justify-content-centre align-items-start flex-column">

             <h1>WE WILL HELP YOU </h1>
             <h1>TO GROW YOUR BUSINESS</h1>
             <p>Here is Our Website Hope It Will Help You
             </p>
             <button class="btn-style btn-primary">Read More</button>

           </div>
           
      </div>
    </div>
  </div>