<section>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d224567.66182451413!2d76.84965983272878!3d28.423187826560344!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390d19d582e38859%3A0x2cf5fe8e5c64b1e!2sGurugram%2C%20Haryana!5e0!3m2!1sen!2sin!4v1645436134135!5m2!1sen!2sin" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
</section>